
*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.row{
    display: block;
    width: 100%;
    height: 22%;
    padding: 3px 0px 3px 0px;
}


.card{
    display: inline-block;
    width: 11%;
    height: 100%;
    font-size: 100px;
    text-align: center;
    margin-left: 15px;
    background-color: transparent;
    perspective: 1000px;
    
    
}





.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
    
}

.card-front, .card-back{
    width: 100%;
  height: 100%;
    position: absolute;
-webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card-front {
    background-image: url("cardBG.jpg");
    background-color: #ff0000;
    color: black;
}
  
.card-back {
background-color: #3a3a3a;
color: rgb(255, 255, 255);
transform: rotateY(180deg);
}



#timer, #score, #level{
    width: 25%;
    height: 80%;
    color: black;
    font-size: 40px;
    text-align: center;
    display: inline-block;
    margin-left: 70px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 10px;
    margin-top: 30px;
    
}


.top-bar{
    height: 10%;
    margin-bottom: 40px;
/*     margin-bottom: 80px; */
}

